<%= turbo_stream_from @recipe %>

<div class="w-full mx-auto">
  <div class="w-full mx-auto">


    <%= render @recipe %>

    <h3><%= @recipe.description %></h3>

    <%= link_to 'Edit this recipe', edit_recipe_path(@recipe), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this recipe', recipe_path(@recipe), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to recipes', recipes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
  <div>
        <img src="https://akispetretzikis.com/media/cache/recipe-pc-thumb/recipes/glykopatates-pancakes-me-mavri-sokolata-6041.jpg" alt="Pancakes Glykopatatas" class="w-full rounded-lg">
  </div>
  
  <div>
    <%= render "recipes/add_step_form", recipe: @recipe %>
  </div>

  <div>
    <%= render "recipes/add_ingredient_form", recipe: @recipe %>
  </div>

  <div class= "grid grid-cols-2 md:grid-cols-2 gap-8">
    <div>
      <h2 class="text-2xl font-semibold mb-4">Ingredients</h2>
      <ul class="list-disc list-inside">
        <% @ingredients.each do |ingredient| %>
          <li><%= ingredient.quantity %> <%= ingredient.unit %> <%= ingredient.name %></li>
        <% end %>
      </ul>
    </div>
    <div>
        <h2 class="text-2xl font-semibold mt-8 mb-4">Instructions</h2>
         <ol class="steps steps-vertical">
            <% @steps.each do |step| %>
              <li class="step step-primary"><%= step.description %></li>
            <% end %>
         </ol>
    </div>
</div>
